<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

<title th:substituteby="index::title"></title>
<meta name="description" th:substituteby="index::metaDescription" />
<meta name="author" th:substituteby="index::metaAuthor" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<div th:include="index::config" />
<script th:src="@{/js/caregiver/createCaregiver.js}"></script>
<script th:src="@{/js/caregiver/outcome.js}"></script>
<script th:src="@{/js/caregiver/updatePhoto.js}"></script>
</head>

<body>
	<header th:substituteby="index::header"> </header>
	<div id="container">
		<form class="clearfix" action="list.html" th:object="${caregiver}"
			th:action="@{/caregivers/create}" method="post">

			<h1>Add new member</h1>

			<div id="errors" th:if="${#fields.hasErrors('person.*')}">
				<ul>
					<li th:text="#{caregiver_form.validation.errors}">Errors
						must be corrected before the form can be submitted</li>
				</ul>
			</div>

			<fieldset id="person-fields" th:fragment="person-details">
				<section id="photo-placehoder"></section>
				<section class="person-details">
					<!-- First name -->
					<label for="firstName"
						th:text="#{caregiver_form.label.firstName}"
						th:class="${#fields.hasErrors('person.firstName')}? 'labelError'">First
						Name: </label> <span class="labelTextError"
						th:if="${#fields.hasErrors('person.firstName')}"
						th:text="#{caregiver_form.validation.firstName}"></span> <input
						type="text" name="firstName" value="" id="firstName"
						placeholder="Your First Name" autofocus="autofocus"
						th:field="*{person.firstName}"
						th:placeholder="#{caregiver_form.placeholder.firstName}"
						th:class="${#fields.hasErrors('person.firstName')}? 'fieldError'" />
					<!-- Last name -->
					<label for="lastName" th:text="#{caregiver_form.label.lastName}"
						th:class="${#fields.hasErrors('person.lastName')}? 'labelError'">Last
						Name: </label> <span class="labelTextError"
						th:if="${#fields.hasErrors('person.lastName')}"
						th:text="#{caregiver_form.validation.lastName}"></span> <input
						type="text" name="lastName" value="" id="lastName"
						placeholder="Your Last Name" autofocus="autofocus"
						th:field="*{person.lastName}"
						th:placeholder="#{caregiver_form.placeholder.lastName}"
						th:class="${#fields.hasErrors('person.lastName')}? 'fieldError'" />
					<!-- Birth Date -->
					<label for="birthDate"
						th:text="#{caregiver_form.label.birthDate}"
						th:class="${#fields.hasErrors('person.birthDate')}? 'labelError'">Marriage
						Date: </label> <span class="labelTextError"
						th:if="${#fields.hasErrors('person.birthDate')}"
						th:text="#{caregiver_form.validation.birthDate}"></span> <input
						type="text" name="birthDate" value="" id="birthDate"
						placeholder="mm/dd/yyyy" class="datePicker" autofocus="autofocus"
						th:field="*{person.birthDate}"
						th:placeholder="#{caregiver_form.placeholder.birthDate}"
						th:class="${#fields.hasErrors('person.birthDate')}? 'fieldError':'datePicker'" />
					<!-- Phone -->
					<label for="phone" th:text="#{caregiver_form.label.phone}"
						th:class="${#fields.hasErrors('person.phone')}? 'labelError'">Phone:</label>
					<span class="labelTextError"
						th:if="${#fields.hasErrors('person.phone')}"
						th:text="#{caregiver_form.validation.phone}"></span> <input
						type="tel" name="phone" value="" id="phone"
						placeholder="00 000-0000" th:field="*{person.phone}"
						th:placeholder="#{caregiver_form.placeholder.phone}"
						th:class="${#fields.hasErrors('person.phone')}? 'fieldError'" />
					<!-- Email -->
					<label for="email" th:text="#{caregiver_form.label.email}"
						th:class="${#fields.hasErrors('person.email')}? 'labelError'">Email:
					</label> <span class="labelTextError"
						th:if="${#fields.hasErrors('person.email')}"
						th:text="#{caregiver_form.validation.email}"></span> <input
						type="email" name="email" value="" id="email"
						placeholder="mail@email.com" th:field="*{person.email}"
						th:placeholder="#{caregiver_form.placeholder.email}"
						th:class="${#fields.hasErrors('person.email')}? 'fieldError'" />
					<!-- Marriage Date -->
					<label for="marriageDate"
						th:text="#{caregiver_form.label.marriageDate}"
						th:class="${#fields.hasErrors('person.marriageDate')}? 'labelError'">Marriage
						Date: </label> <span class="labelTextError"
						th:if="${#fields.hasErrors('person.marriageDate')}"
						th:text="#{caregiver_form.validation.marriageDate}"></span> <input
						type="text" name="marriageDate" value="" id="marriageDate"
						placeholder="mm/dd/yyyy" class="datePicker" autofocus="autofocus"
						th:field="*{person.marriageDate}"
						th:placeholder="#{caregiver_form.placeholder.marriageDate}"
						th:class="${#fields.hasErrors('person.marriageDate')}? 'fieldError':'datePicker'" />
					<!-- Marital status -->
					<div class="styled-select" id="marital-status-select">
						<label for="maritalStatus"
							th:text="#{caregiver_form.label.maritalStatus}"
							th:class="${#fields.hasErrors('person.maritalStatus')}? 'labelError'">Marital
							Status: </label> <span class="labelTextError"
							th:if="${#fields.hasErrors('person.maritalStatus')}"
							th:text="#{caregiver_form.validation.maritalStatus}"></span> <select
							th:field="*{person.maritalStatus}">
							<option th:each="maritalStatus : ${maritalStatusList}"
								th:value="${maritalStatus}" th:text="${maritalStatus}">Married</option>
						</select>
					</div>
					<!-- Spouse religion -->
					<label for="spouseReligion"
						th:text="#{caregiver_form.label.spouseReligion}"
						th:class="${#fields.hasErrors('person.spouseReligion')}? 'labelError'">Spouse
						Religion: </label> <span class="labelTextError"
						th:if="${#fields.hasErrors('person.spouseReligion')}"
						th:text="#{caregiver_form.validation.spouseReligion}"></span> <input
						type="text" name="spouseReligion" value="" id="spouseReligion"
						placeholder="1850424125789" autofocus="autofocus"
						th:field="*{person.spouseReligion}"
						th:placeholder="#{caregiver_form.placeholder.spouseReligion}"
						th:class="${#fields.hasErrors('person.spouseReligion')}? 'fieldError'" />

				</section>
				<section class="person-details">
					<!-- Photo -->
					<label for="photo" th:text="#{caregiver_form.label.photo}"
						th:class="${#fields.hasErrors('person.photo')}? 'labelError'">Photo:
					</label> <span class="labelTextError"
						th:if="${#fields.hasErrors('person.photo')}"
						th:text="#{caregiver_form.validation.photo}"></span> <input
						type="file" name="photo" value="" id="photo"
						th:class="${#fields.hasErrors('person.photo')}? 'fieldError'" />

					<!-- Studies -->
					<label for="studies" th:text="#{caregiver_form.label.studies}"
						th:class="${#fields.hasErrors('person.studies')}? 'labelError'">Studies:
					</label> <span class="labelTextError"
						th:if="${#fields.hasErrors('person.studies')}"
						th:text="#{caregiver_form.validation.studies}"></span>
					<div class="styled-select">
						<select th:field="*{person.studies}">
							<option th:each="education : ${studiesList}"
								th:value="${education}" th:text="${education}">Highschool</option>
						</select>
					</div>
					<!-- Company -->
					<label for="company" th:text="#{caregiver_form.label.company}"
						th:class="${#fields.hasErrors('person.company')}? 'labelError'">Company:
					</label> <span class="labelTextError"
						th:if="${#fields.hasErrors('person.company')}"
						th:text="#{caregiver_form.validation.company}"></span> <input
						type="text" name="company" value="" id="company"
						placeholder="Microsoft" autofocus="autofocus"
						th:field="*{person.company}"
						th:placeholder="#{caregiver_form.placeholder.company}"
						th:class="${#fields.hasErrors('person.company')}? 'fieldError'" />

					<!-- Job -->
					<label for="job" th:text="#{caregiver_form.label.job}"
						th:class="${#fields.hasErrors('person.job')}? 'labelError'">Job:
					</label> <span class="labelTextError"
						th:if="${#fields.hasErrors('person.job')}"
						th:text="#{caregiver_form.validation.job}"></span> <input
						type="text" name="job" value="" id="job" placeholder="Programmer"
						autofocus="autofocus" th:field="*{person.job}"
						th:placeholder="#{caregiver_form.placeholder.job}"
						th:class="${#fields.hasErrors('person.job')}? 'fieldError'" />

					<!-- input type="file" id="file" name="file" th:field="*{person.image}">
					</input>-->
					<section id="caregiver-details">
					</section>
					<section class="person-address" th:fragment="person-address">
						<label for="address" th:text="#{caregiver_form.label.address}"
							th:class="${#fields.hasErrors('person.address')}? 'labelError'">Your
							address: </label> <span class="labelTextError"
							th:if="${#fields.hasErrors('person.address')}"
							th:text="#{caregiver_form.validation.address}"></span>
						<textarea name="address" rows="0" cols="0" id="address"
							placeholder="Your address..." th:field="*{person.address}"
							th:placeholder="#{caregiver_form.placeholder.address}"
							th:class="${#fields.hasErrors('person.address')}? 'fieldError'"></textarea>
					</section>
				</section>
			</fieldset>

			<a class="button" id="create-button">Add</a> <a class="button"
				id="cancel-button">Cancel</a>
		</form>
	</div>
	<!-- end of #container -->
	<footer th:substituteby="index::footer"></footer>

</body>
</html>
