<div class="add-children">
	<strong><label id="child-label">Children:</label></strong> 
	<div class="child-form">
		<input type="text" id="child-name" autofocus="autofocus" />
		<input type="text" id="child-birth-date" autofocus="autofocus" placeholder="mm/dd/yy"
		class="datePicker" onclick="$(this).datepicker().datepicker('show')"/>
		<a class="small-edit-button" id="add-child-button">+</a>
	</div>
	
	<!-- select id="persons-list"></select -->
	<!-- input type="text"  id="add-child-input" list="persons-list" autofocus="autofocus" /-->
	
	<ol class="children-list"></ol>
</div>