<datalist id="parishionersNames">
	<select>
	</select>
</datalist>

            <tbody th:if="${#objects.nullSafe(parishioners, false)}">
                <tr th:each="row, rowStat : ${parishioners}">
                    <td class="hidden" th:text="${row.id}"></td>
                    <td class="row-count" th:text="${rowStat.Count}">1</td>
                    <td th:text="${row.person.firstName}">First Name</td>
                    <td th:text="${row.person.lastName}">Last Name</td>
                </tr>
            </tbody>
        </table>
    </div>
 